Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink
Content/ThirdPerson
Content/InfinityBladeIceLands
global.json
Warrior.sln.DotSettings.user

.vscode
.vs
.vsconfig
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
